.dashboard-content-title.d-flex.justify-content-between {
    flex-wrap: wrap;
}
input.inputField.mt-3 {
    width: 255px;
    border: 2px solid #777;
    text-align: center;
    padding: 3px;
    margin-bottom: 15px;
}
.edit {
    background: #06d2422b;
    padding: 1px 3px;
}
span.delete {
    background: lightblue;
    padding: 1px 4px;
}